#board {
    position: relative;
    
    width: 5000px;
    height: 5000px;

    background-color: cadetblue;
    // background-image: url("/dist/images/board-background.png");
    background-repeat: repeat;
}